.container {
  height: 100vh;
}
.button-w {
  width: 100%;
  margin-top: 25px;
}

form {
  padding: 20px 40px;
}

#cancel-button {
  float: right;
}

.form-wrapper {
  margin: 0 auto;
  width: 750px;
  background-color: white;
}

.example-full-width {
  width: 100%;
  margin-bottom: 0.5rem;
}

